@media only screen and (max-width: 992px) {

    .profile_side_mobile {
        display: block !important;
        position: absolute;
        width: 40% !important;
        z-index: 98;
        height: calc(100% - 60px);
    }

    .profile_side_container {
        padding: 60px 0 120px 0;
    }

    .flight_sidebar_container {
        flex: auto;
        max-width: 100%;
    }


    .widget h4.widget-title {

        display: block;
    }

    .widget .only_filter {
        opacity: 1;
    }

}

@media only screen and (min-width: 992px) {

    .widget_content {
        display: block !important;
    }
}

@media only screen and (max-width: 576px) {
    .offices_container {
        padding: 5% 1%;
    }
}

@media (max-width: 768px) and  (min-width: 576px) {
    .offices_container {
        padding: 5% 8%;
    }
}
